{% include '_parts/header.html' %}

    {% include '_parts/search.html' %}

    <main class="main-content-container">
        <div class="main-content main-content-list container">

            <div class="recipe recipe-list-item">
                <div class="recipe-cover">
                    <img src="https://via.placeholder.com/1280x720.png/269fe6" alt="Temporário">
                </div>
                <h1>{{ h1 }}</h1>
            </div>
        </div>
    </main>

{% include '_parts/footer.html' %}
